/* resets */
h1,
nav ul,
body,
h2,
footer ul,
h3, footer p {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Open Sans";
}
body {
  background-color: #f9fafc;
}

h1 {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 18px;
}

ul {
  list-style: none;
}

.navigation li {
  padding-top: 10px;
  padding-left: 15px;
  color: #69696a;
}

.navigation button {
  margin-top: 15px;
}

h2 {
  padding-left: 15px;
  padding-top: 35px;
  font-size: 30px;
}

main p {
  padding: 5px 15px
  border-left: 5px solid black;
  margin-left: 15px;
}

button {
  background-color: black;
  color: #fff;
  width: 100%;
  border-radius: 25px;
  padding: 7px;
  margin: 0px;
}

div {
  padding: 0px 15px;
}

footer {
  position: fixed;
  background-color: rgba(247, 193, 162, 0.7);
  bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 7px;
}

footer ul,
footer p {
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  padding-right: 15px;
}

footer p {
  padding-left: 10px;
}


@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .call-to-action {
    width: 50%;
  }

  header {
    margin-bottom: 100px;
  }

  section {
    display: flex;
    align-items: center;

  }
  section li {
    border-radius: 50%;
  }
section ul {
  display: flex;
  margin: 10px;
  padding: 30px;
  position: relative;
  left: 200px;
  
}
  .one {
    width: 20vh;
    height: 20vh;
    background-color: rgba(247, 136, 167, 0.6);
    
    
    
  }

  .two {
    width: 15vh;
    height: 15vh;
    background-color: rgba(247, 193, 162, 0.7);
    position: absolute;
    top: 170px;
    left: 170px;

  }

  .three {
    width: 11.5vh;
    height: 11.5vh;
    background-color: rgba(60, 12, 63, 0.6);
    position: absolute;
    left: 220px;
    top: 70px;
    
    
  }
}

